.class1 {font-weight: bold;
    font-size:30 ;
    color:red;

}

.class2 {font-weight:bold
font-size: 30;
color:black;
}

#div{font-family: Georgia, 'Times New Roman', Times, serif;
background-color: darkcyan;}

